.categore{
    user-select: none;
    .categore-title{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .filter-title{
            font-size: var(--small-title);
            font-weight: 400;
        }
    }
   
}