.caruselOurCustemers{
    background-color: var(--primary-back-ground);
    width: 100%;
    padding: var(--big-padding) !important;
    display: flex;
    flex-direction: column;
    gap: var(--big-gap);
    position: relative;
    overflow-x: hidden;
    .OurCustemers-title{
        display: flex;
        align-items: center;
        justify-content: center;
        h2{
            color: var(--secondary-text);
            font-size: var(--big-title);
        }
    }
    .OurCustemersCards{
        width: fit-content;
        min-width: 100% !important;
        margin: auto !important;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 3%;
        left: 0;
       
    }
}
