.sideBar{
    background-color: var(--primary-back-ground);
    // grid-column-start: 1;
    // grid-column-end: 2;
    // grid-row-start: 2;
    // grid-row-end: 10;
    width: 100%;
    // max-width: 20vw;
    // height: 100%;
    padding: 2em 1em;
    box-shadow: -10px -11px 30px 10px rgba(232, 232, 232, 0.5) inset;

}