.box{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: var(--medium-padding) !important;
    gap: var(--small-gap);
    border-radius: var(--medium-radius);
}
.back-btn{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}