.ribbon{
    padding: var(--small-padding) var(--medium-padding);
    background-color: var(--primary-back-ground);
    position: absolute;
    right: 0;
    top: 0;
    color: var(--secondary-color);
    font-size: var(--medium-p);
}