@import "../src/style/color";
@import "../src/style/font";
@import "./style/global";
body{
  background-color: var(--secondary-back-ground);
  min-height: 100vh;
}
#root{
  min-height: 100vh;
}
*{
  
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box;
  font-family: var(--primary-font);
  font-weight: 300;
  font-size: 16px;
  background-color: transparent;
}

code {
  font-family: var(--primary-font);
}

.hidden{
  display: none !important;
}
.fade-In{
  animation: fadeIn 300ms ease-in;
}

.container-fluid{
  padding: 0 !important;

}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media screen and (max-width: 950px) {
  *{
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  *{
    font-size: 16px;
  }
}