.products-list-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: var(--medium-padding) !important;
    gap: var(--medium-gap);
    border-radius: var(--medium-radius);
   
}