/** @format */

.accordione-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
  .one-section {
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
    .accordione-title {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      user-select: none;
      h4 {
        font-size: var(--small-title);
      }
    }
    .accordion-p {
      font-size: var(--small-p);
    }
  }
}
@media screen and (max-width: 600px) {
  .accordione-wrapper {
    .one-section {
      .accordione-title {
        h4 {
          font-size: var(--medium-title);
        }
      }
      .accordion-p {
      }
    }
  }
}
