.popup-overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color-opacity);
    z-index: 1000;
    
}
.popup{
    position: fixed;
    top: 50vh;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1001;
    width: 50%;
    max-width: 600px;
    min-height: 50vh;
    padding-bottom: var(--big-padding) !important;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-back-ground);
    border-top: var(--medium-border) solid var(--border-color);
    box-shadow: 5px 5px 10px 0px var(--shadow-color),-5px 0px 10px 0px var(--shadow-color);
 
}
.popup-children{
    
    width: 80%;
    max-width: 500px;
    margin: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup-close{
    display: flex;
    justify-content: end;
    color: var(--primary-text);
    user-select: none;
    cursor: pointer;
    font-size: var(--medium-title);
    font-weight: 600;
}

@media screen and (max-width: 600px) {
    .popup{
        position: fixed;
        width: 90%;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        .popup-close{
       
        }
        .popup-children{
            
        }
    }
}