.humburger-popup{
    
    position: fixed;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-back-ground);
    border-top: var(--medium-border) solid var(--primary-color);
    height: 100vh;
    left: 0;
    top: 0;
    width: 85%;
}
.humburger-children-popup{
    width: 80% !important;
    margin:0 auto !important;
    flex-direction: column;
    justify-content: start !important;
    .hunburger-theme-wrapper{
        display: flex;
        justify-content: space-between;
        .theme-p{
            color: var(--primary-text);
            font-size: var(--small-p);
        }
    }
}
.humburger-ul{
    display: flex;
    flex-direction: column;
    gap: var(--meduim-gap);
}
.fs-Menu{
    font-size: var(--medium-title);
}
.login-widget-wrapper{
display: flex;
justify-content: center;
margin-bottom: var(--small-margin) !important;
}
.login-widget{
    display: flex;
    gap: var(--big-gap);
}