/** @format */

.leftAside {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);

  p {
    font-size: var(--medium-p);
  }
  .colorComponent {
    display: flex;
    font-size: var(--small-p);
    justify-content: space-between;
    gap: var(--medium-gap);
    .colorPicker {
      display: flex;
      align-items: center;
      gap: var(--medium-gap);
      .color {
        width: 1.2rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
        border: var(--small-border) solid var(--border-color);
      }
    }
  }
  .custWrapper {
    font-size: var(--small-p);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    #custmizeSelection {
      color: var(--primary-text);
      appearance: none;
      font-size: inherit;
      font-family: inherit;
      cursor: pointer;
      border-radius: var(--medium-radius);
      padding: var(--small-padding) !important;
      width: 60%;
      border: var(--small-border) solid var(--border-color);
      outline: none;
 
     
    }
  }
  .textareaCust {
    font-size: var(--small-p);
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
  }
  .counterWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: var(--small-p);
    
    input {
      color: var(--primary-text);
      width: 20%;
      border: var(--small-border) solid var(--border-color);
      padding: var(--small-padding) !important;
      border-radius: var(--medium-radius);
    }
  }
  .price {
    font-weight: 400;
  }
}

@media screen and (max-width: 600px) {
  .leftAside {
    width: 100%;
    p {
    }
    .colorComponent {
      .colorPicker {
        .color {
        }
      }
    }
    .custWrapper {
      #custmizeSelection {
      }
    }
    .textareaCust {
      #custumizeText {
      }
    }
    .counterWrapper {
      input {
      }
    }
  }
}
