/** @format */

// * green style
:root[data-theme="theme-light"] {
  // color
  --primary-color: #2a7c6f;
  --secondary-color: #f9f9f9;
  --third-color: #ffa384;
  // text color
  --primary-text: var(--primary-color);
  --secondary-text: var(--secondary-color);
  --bold-text: var(--third-color);
  --dark-text: #0f0f0f;
  --light-text:#f1f1f1;
  // opacity
  --primary-color-opacity: rgba(42, 124, 111, 0.302);
  --secondary-color-opacity: rgba(249, 249, 249, 0.502);
  --third-color-opacity: rgba(255, 163, 132,0.5);
  // background
  --primary-back-ground: var(--primary-color);
  --primary-button-back-ground: var(--primary-color);
  --secondary-back-ground: var(--secondary-color);
  --secondary-button-back-ground: var(--secondary-color);
  --bold-button-back-ground: var(--third-color);
  --white: #ffffff;
  --shadow-color: #d8d8d8ed;
  --border-color:var(--primary-color);
}
// * blue style
// :root {
//   // color
//   --primary-color: #184451;
//   --secondary-color: #f9f9f9;
//   --third-color: #f4a460;
//   // text color
//   --primary-text: var(--primary-color);
//   --secondary-text: var(--secondary-color);
//   --bold-text: var(--third-color);
//   --dark-text: #0f0f0f;
//   --light-text:#f1f1f1;
//   // opacity
//   --primary-color-opacity: rgba(24, 68, 81,0.5);
//   --secondary-color-opacity: rgba(249, 249, 249,0.5);
//   --third-color-opacity: rgba(244, 164, 96,0.5);
//   // background
//   --primary-back-ground: var(--primary-color);
//   --primary-button-back-ground: var(--primary-color);
//   --secondary-back-ground: var(--secondary-color);
//   --secondary-button-back-ground: var(--secondary-color);
//   --white: #ffffff;
//   --shadow-color: #d8d8d8ed;
// --border-color:var(--primary-color);
// }
// dark style
:root[data-theme="theme-dark"] {
  // color
  --primary-color: #f1f1f1;
  --secondary-color: #0f0f0f;
  --third-color: #bf1b1b;
  // text color
  --primary-text: var(--primary-color);
  --secondary-text: #aaa;
  --bold-text: var(--third-color);
  --dark-text: #0f0f0f;
  --light-text:#f1f1f1;
  // opacity
  --primary-color-opacity: rgba(24, 68, 81,0.8);
  --secondary-color-opacity: rgba(170, 170, 170,0.5);
  --third-color-opacity: rgba(191, 27, 27,0.5);
  // background
  --primary-back-ground: var(--primary-color);
  --primary-button-back-ground: #303030;
  --secondary-back-ground: var(--secondary-color);
  --secondary-button-back-ground: var(--secondary-color);
  --bold-button-back-ground: var(--third-color);
  --white: #ffffff;
  --shadow-color: #000000;
  --border-color:#aaa;
}
// * 
// :root {
//   --primary-color: #f1f1f1;
//   --primary-color-opacity: rgba(173, 173, 173,0.7);
//   --secondary-color:  #0f0f0f;
//   --bold-color: #BF1B1B;
//   --primary-back-ground: var(--secondary-color);
//   --white: #212121;
//   // --shadow-color: #181818ed;
// }

.bg-primary-ofwood{
 background-color: var(--primary-color) !important;   
}
.color-primary-ofwood{
  color: var(--primary-text);
}
.bg-secondary-ofwood{
  background-color: var(--secondary-back-ground);   
}
.color-secondary-ofwood{
  color: var(--secondary-text) !important;
}
.bg-primary-opacity{
 background-color: var(--primary-color-opacity);   
}