/** @format */

:root {
  --primary-color: #2a7c6f;
  --secondary-color: white;
  --primary-back-ground: #fcfcfc;
  --white: #ffffff;
  --shadow-color: rgba(216, 216, 216, 0.928);
}

.bg-primary-ofwood{
 background-color: var(--primary-color);   
}