:root{
  // padding
  --small-padding:0.3em;
  --medium-padding:0.5em;
  --big-padding:1em;
  // margin
  --small-margin:1em;
  --medium-margin:2em;
  --big-margin:3em;
  // radius
  --small-radius:0.1em;
  --medium-radius:0.3em;
  --big-radius:0.5em;
  // --big-radius:0.5em;
  // gap
  --small-gap:0.5em;
  --medium-gap:1em;
  --big-gap:1.5em;
  // boarder
  --small-border:0.1em;
  --medium-border:0.2em;
  --big-border:0.3em;
  // font size
  --small-p:0.9em;
  --medium-p:1.1em;
  --big-p:1.2em;
  --small-title:1.1em;
  --medium-title:1.3em;
  --big-title:2em;
}