.trans{
    transform: skew(0deg,2deg);    
    position: relative;
    z-index: 100;
    margin-top: var(--big-margin) !important;
    margin-bottom: var(--big-margin) !important;
    .trans-inner{
        transform: skew(0deg,-2deg);
        .category-round-wrapper{
            width: 25% !important;
        }
    }
}


@media screen and (max-width: 600px) {
    .trans{
        margin-top: var(--small-margin) !important;
        margin-bottom: var(--small-margin) !important;
        .trans-inner{
           .category-round-wrapper{
            width: 50% !important;
        }
        }
    }
}


