

.searchWrapper{
    width: fit-content;
    position: relative;
    .search-button{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--primary-button-back-ground);
        border-top-right-radius: var(--small-radius);
        border-bottom-right-radius: var(--small-radius);
        border: var(--small-border) solid var(--border-color);
        border-left: none;
        span{
            padding:var(--small-padding);
            color: var(--secondary-color);
        }
    }
   
}
@media screen and (max-width: 600px) {
  

    }