.primary-button{
    width: 100%;
    border: var(--small-border) solid transparent;
    background-color: var(--primary-button-back-ground);
    padding: var(--medium-padding) !important;
    color: var(--secondary-text);
    font-size: var(--small-p);
    transition: all 400ms ease-in-out;
    &:hover{
        background-color: var(--secondary-button-back-ground);
        border: var(--small-border) solid var(--primary-color);
        color: var(--primary-text);
    }
}
.danger-button{
    width: 100%;
    border: var(--small-border) solid transparent;
    background-color: var(--bold-button-back-ground);
    padding: var(--medium-padding) !important;
    color: var(--primary-text);
    font-size: var(--small-p);
    transition: all 400ms ease-in-out;
    &:hover{
        background-color: var(--secondary-button-back-ground);
        border: var(--small-border) solid var(--third-color);
        color: var(--bold-text);
    }
}
.disabled-button{
    width: 100%;
    padding: var(--medium-padding) !important;
    background-color: var(--secondary-back-ground);
    color: var(--primary-text);
    font-size: var(--small-p);
    border:var(--small-border) solid var(--primary-color);
    cursor: not-allowed !important;
    &:hover{
        background-color: var(--secondary-back-ground);
    }
}