/** @format */

.cart-wrapper-polices {
  display: grid;
  grid-template-areas:
    'products products products checkOut'
    'info info info info ';
}
.cart-wrapper {
  display: grid;
  grid-template-areas:
    'checkOut'
    'products ';
}
h1{
  color: var(--primary-text);
}
.no-product-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  h5{
    font-size: var(--big-title);
    color: var(--bold-text);
  }
}
  .cart-check-out-wrapper {
    padding: var(--medium-padding) !important;
    min-height: 100px;
    grid-area: checkOut;
  }
  .cart-products-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--medium-gap);
    min-height: 100px;
    grid-area: products;
    padding: var(--medium-padding) !important;
    .cart-product-list-wrapper{
        display: flex;
    .product-list-img-wrapper{
        width: 10%;
        img{
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: contain;
        }
    }
    .product-list-details-wrapper{
        flex-grow: 1;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        justify-items: center;
        align-content: center;
        .product-details-title{
            grid-column-start: 1;
            grid-column-end: 3;
            font-size: var(--medium-title);
        }
    }
}
.cart-product-option-wrapper{
  display: flex;

  gap: var(--medium-gap);
  background-color: var(--primary-back-ground);
  color: var(--secondary-color);
  font-weight: 400;
  padding: var(--medium-padding) !important;
  border-radius: var(--medium-radius);
  .option-wrapper{

  }
}
  }
  .cart-info-wrapper {
    min-height: 100px;
    grid-area: info;
    display: grid;
    padding: var(--medium-padding) !important;
    .info-wrapper{
        display: grid;
        gap: var(--medium-gap);
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (max-width: 600px) {
    .cart-wrapper-polices {
        display: grid;
        grid-template-areas:
        "checkOut"
          'products'
          'info';
    }
    .no-product-wrapper{

      h5{
        font-size: var(--medium-title);
       
      }
    }
        .cart-check-out-wrapper {
          padding: var(--medium-padding) !important;
          min-height: 100px;
          grid-area: checkOut;
        }
        .cart-products-list-wrapper{
            .cart-product-list-wrapper{
              flex-direction: column;
              gap: var(--medium-gap);
              
          .product-list-img-wrapper{
              width: 100%;
              img{
                
              }
          }
          .product-list-details-wrapper{
            gap: var(--medium-gap);
            grid-template-columns: repeat(2,1fr);

              .product-details-title{
                  grid-column-start: 1;
                  grid-column-end: 3;
                }
                .grid-button{
                  grid-column-start: 1;
                  grid-column-end: 3;
                  // grid-column-start: 1;
                  // grid-column-end: 4;
                }
          }
      }
        }
        .cart-product-option-wrapper{
          justify-content: center;
          .option-wrapper{
        
          }
        }
        .cart-info-wrapper {
         
          .info-wrapper{
            display: grid;
            grid-template-columns: repeat(1,1fr);
        }
        }
      }
