.right{
    width: 100%;
    padding: var(--big-padding) !important;
    background-color: var(--secondary-back-ground);
    box-shadow: 0px 5px 20px 0px var(--shadow-color);
    border-top:var(--big-border) solid var(--border-color);
    border-top-left-radius:var(--medium-radius) ;
    border-top-right-radius:var(--medium-radius) ;
    
    .filter-Wrapper{
        display: flex;
        flex-direction: column;
        gap: var(--meduim-gap);
        color: var(--primary-text);
        cursor: pointer;
        .title{
            font-size: var(--medium-title);
        }
       
    }
    
}