.caruselCardWrapper{
    width: 100%;
    position: relative;
    z-index: 50;
    background-color: var(--white);
    box-shadow: 5px 10px 15px 0px var(--shadow-color);
    transition: transform 300ms;
    transition-timing-function: ease-in-out;
    &:hover{
        box-shadow: none;
        transform: translate(0px, -5px);
    }
    img{
        cursor: pointer;
        width: 100%;
    }
    .deatils{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        background-color: var(--white);

      
        h3{
            color: var(--primary-color);
            font-size: 1.1em;
        }
        p{
            color: var(--primary-color);
            font-size: 1em;
        }
   
    }
  }

  @media screen and (max-width: 600px) {
    .caruselCardWrapper{
        min-width: 100%;
        &:hover{
            box-shadow: none;
            transform: translate(0px, -5px);
        }
        img{
            cursor: pointer;
            width: 100%;
        }
        .deatils{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            background-color: var(--white);
    
          
            h3{
               
            }
            p{
              
            }
       
        }
      }
  }