/** @format */

.caruselWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--big-gap);
  width: 100%;

  h2 {
    padding-left: var(--big-padding) !important;
    color: var(--primary-text);
  }

  .caruselcardsWrapper {
    display: flex;
    gap: var(--medium-gap);
    width: 90%;
    margin: auto !important;
    position: relative;
    z-index: 170;

    .arrow-btn-left {
      position: absolute;
      z-index: 100;
      left: 0;
      top: 50%;
      padding: var(--big-padding);
      z-index: 100;
      transform: translate(-110%, -100%);

      img {
        width: 2rem;
        cursor: pointer;
      }
    }
    .arrow-btn-right {
      position: absolute;
      z-index: 100;
      right: 0;
      top: 50%;
      z-index: 100;
      transform: translate(110%, -100%);
      padding: var(--big-padding);
      img {
        width: 2rem;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .caruselWrapper {
    margin-top: var(--small-margin) !important;

    h2 {

    }
    .caruselcardsWrapper {
      padding: 1.5em !important;
      width: 100%;
      overflow-x: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
      .arrow-btn-left {
        display: none;
      }
      .arrow-btn-right {
        display: none;

        img {
        }
      }
    }
    .caruselcardsWrapper::-webkit-scrollbar {
      display: none;
    }
  }
}
